<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backoffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Backoffice.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>Postgres</value>
            </setting>
            <setting name="DatabaseServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DatabasePort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>swe</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>swe</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>EPU_SWE2</value>
            </setting>
        </Backoffice.Properties.Settings>
    </userSettings>
</configuration>